* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #cbdef2;
  --secondary-color: #1466c4;
}
body {
  background-color: var(--primary-color);
}
html {
  font-size: 75.5%;
}
.header {
  width: 100%;
  height: 500px;
  color: var(--secondary-color);
  box-sizing: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/alfons-morales-YLSwjSy7stw-unsplash.jpg);
  clip-path: circle(60% at left 300px);
  z-index: -1;
}
.row1 {
  position: absolute;
  top: 10px;
}
.row2 {
  position: absolute;
  top: 10px;
  right: 150px;
  text-align: center;
}
.row2 h1 {
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 15px;
}
.row2 img {
  margin-top: 0px;
  width: 250;
}
.row1 h1 {
  font-size: 2.5rem;
  margin-left: 35px;
  padding-top: 40%;
  text-align: center;
  color:white;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  outline: 0;
  border: 0;
  width: 350px;
  height: 35px;
  padding: 0 0.5rem;
  font-size: 15px;
  font-weight: bold;
}
.search button{
    outline: none;
    border: none;
    height: 35px;
    padding: 0 0.5rem;
}
/* card styles */

.container{
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 20px;
    box-sizing: border-box;
}
.card{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(218, 231, 245, .5);
    transition: .5;
    text-align: center;
    position: relative;
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 1px 1px 0 0;
}
.card .bottom{
    display: flex;
    flex-direction: column;
}
.card .bottom .title{
    font-size: 14px;
    margin-bottom: 12px;
}
.card .bottom .amount{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem;
}
